#fortnite {
    height: auto;
    width: 100%;
}
.gamebtn{
    margin: 5px;
    font-weight: bold;
}
.bold{
    font-weight: bold;
}
.jumbotron{
    background: transparent;
}
textarea{
    background: transparent;
}
body{
    color: aliceblue;
}